{% extends "base.html" %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/sakana-widget@2.7.0/lib/sakana.min.css"
    />
    <div id="sakana-widget"></div>


    <script>
        function initSakanaWidget() {
            var path = window.location.pathname;
            var excludedPathPrefixes = ['/nya', '/proj'];
            if (excludedPathPrefixes.some(prefix => path.startsWith(prefix))) {
                return; // Don't show the widget on these paths
            }
            const chisato = SakanaWidget.getCharacter('chisato');
            chisato.initialState = {
                ...chisato.initialState,
                i: 0.002,
                d: 0.998,
            };
            chisato.image = `https://mypic.skyhigh.moe/aMyPicURL/other/sky-xxmcry.gif`;
            SakanaWidget.registerCharacter('chisato-slow', chisato);
            new SakanaWidget({ character: 'chisato-slow' }).mount('#sakana-widget');
        }
    </script>

    <script
    async
    onload="initSakanaWidget()"
    src="https://cdn.jsdelivr.net/npm/sakana-widget@2.7.0/lib/sakana.min.js"
    >
    </script>
    






{% endblock %}