#sakana-widget {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: scale(0.8);
  transform-origin: bottom right;
}

:root {
  --md-primary-fg-color:        #559cff;
  --md-accent-fg-color:         #2c84ff;
}


