
:root {
  --md-primary-fg-color:        #559cff;
  --md-accent-fg-color:         #2c84ff;
}

/*
.md-grid {
  max-width: 1440px; 
}
*/

#sakana-widget {
    position: fixed;
    right: 0;
    bottom: 0;
    transform: scale(0.6);
}


